body{ background-color :#79ebb6; }    
h1 {color :orange; text-align :center;margin: 20px 30px 30px 10px; }  
h1.hidden { display: hidden;  } 
h2.hidden {  visibility: hidden;  }
p { font-family: "Times New Roman";font-size :20px; margin-left: 50px;}
table { border: 1px solid rgb(204, 28, 28); }
table{ width: 100%; }  
td {border:1px solid rgb(34, 20, 224); height: 50px;    
    vertical-align: bottom;  
  }   
th{ height: 50px;border-collapse: collapse;text-align: right; } 
tr{color:blueviolet}    